<header class="header" >
  <div class="col shadow-lg p-5 mb-5 bg-body-secondary rounded">
  <div class="col">
    <h2 class="title">CRM - Shop</h2>
  </div>
  <div class="row">
    <div class="col-1"><app-side-menu></app-side-menu></div>
  </div>
  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <button class="btn btn-primary " style="width: 100px;"  (click)="logOut()">
      <mat-icon svgIcon="logOut" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></button></div>
    </div>

</div>

</header>
