
<div >
  <button mat-icon-button [matMenuTriggerFor]="menu" style="width: 90% ;background-color:#CAEFFC white; border-radius: 10px; " aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" style="background-color: #CAEFFC;" >
    <button mat-menu-item>
      <mat-icon svgIcon="dashboard" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <a mat-raised-button routerLink="/agente" style="text-decoration: none;color: black;">Main Page</a>
    </button>
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <a mat-raised-button routerLink="/cliente" style="text-decoration: none;color: black;">Customers</a>
    </button>
    <button mat-menu-item>
      <mat-icon>category</mat-icon>
      <a mat-raised-button routerLink="/producto" style="text-decoration: none;color: black;">Products</a>
    </button>
    <button mat-menu-item>
      <mat-icon>keyboard</mat-icon>
      <a mat-raised-button routerLink="/pedidos/" style="text-decoration: none;color: black;">Requests</a>
    </button>
  </mat-menu>
</div>
